// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2023 Luckfox Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1103.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1103-luckfox-pico-ipc.dtsi"

/ {
	model = "Luckfox Pico Mini";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1103";
};

/**********SFC**********/
&sfc {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
};

/**********SDMMC**********/
&sdmmc {
	max-frequency = <50000000>;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	
	//sdio
	cap-sdio-irq;
	non-removable;	
	no-1-8-v;
	supports-sdio;

	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	status = "okay";
};

/**********ETH**********/
&gmac {
	status = "disabled";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};

/**********SPI**********/
/* SPI0_M0 */
&spi0 {
	status = "okay";
	spidev@0 {
		status = "disabled";
		spi-max-frequency = <50000000>;
	};

	st7789v@0 {
        compatible = "sitronix,st7789v";
        reg = <0>;
        
        /* SPI Configuration */
        spi-max-frequency = <10000000>;  /* 10 MHz - adjust as needed */
        spi-cpol;                         /* Clock polarity: idle high */
        /* Note: spi-cpol only (no spi-cpha) = SPI Mode 2 */
        
        /* Display Properties */
        width = <240>;
        height = <240>;
        regwidth = <8>;                   /* 8-bit register width */
        buswidth = <8>;                   /* 8-bit bus width */
        bpp = <16>;                       /* 16 bits per pixel (RGB565) */
        
        /* GPIO Configuration */
        dc-gpios = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;      //DC
		reset-gpios = <&gpio1 RK_PC5 GPIO_ACTIVE_LOW>;    //RES
        /* Note: ST7789 does NOT use a CS (Chip Select) pin */
        
        /* Display Settings */
        rotate = <0>;                     /* 0, 90, 180, or 270 degrees */
        bgr;                              /* BGR color order (optional) */
        fps = <20>;                       /* Frames per second */
        
        /* Optional: Backlight */
        /* led-gpios = <&gpio 18 GPIO_ACTIVE_HIGH>; */
        
        /* Optional: Debug */
        /* debug = <0x7>; */
    };
};

/**********I2C**********/
/* I2C3_M1 */
&i2c3 {
	status = "disabled";
	clock-frequency = <100000>;
};

/**********UART**********/
/* UART3_M1 */
&uart3 {
	status = "disabled";
};

/* UART4_M1 */
&uart4 {
	status = "disabled";
};

/**********PWM**********/
/* PWM1_M0 */
&pwm1 {
	status = "disabled";
};
